In [29]:
import pandas as pd
from urllib.request import Request, urlopen

,Unnamed: 0,no,prov_name,school,student,teacher,angka_hls,rata_lama_sekolah
0,1,1,Jawa Timur,25533,4344401,125594,13.36,7.88
1,2,2,Jawa Barat,27244,7035609,149430,12.61,8.61
2,3,3,Jawa Tengah,23034,4266632,225544,12.77,7.75
3,4,4,Sumatera Utara,13554,2561347,165446,13.27,9.58
4,5,5,Sulawesi Selatan,8746,1443681,108021,13.52,8.46
5,6,6,Banten,6837,1838197,65988,13.02,8.93
6,7,7,Nusa Tenggara Timur,7617,1200640,93163,13.20,7.69
7,8,8,Lampung,6687,1296465,86460,12.73,8.08
8,9,9,Sumatera Selatan,5460,656273,40365,12.54,8.30
9,10,10,Aceh,2160,818876,80679,14.36,9.37
10,11,11,Sumatera Barat,5462,950986,70745,14.09,9.07
11,12,12,Riau,2114,1197902,60975,13.28,9.19
12,13,13,Nusa Tenggara Barat,4686,331896,49399,13.90,7.38
13,14,14,Kalimantan Barat,6265,923832,50945,12.65,7.45
14,15,15,D.K.I. Jakarta,3809,1302860,67415,13.07,11.17
15,16,16,Kalimantan Selatan,3745,535056,41055,12.81,8.34
16,17,17,Sulawesi Tengah,4031,94262,40273,13.23,8.89
17,18,18,D.I. Yogyakarta,2470,468054,31455,15.64,9.64
18,19,19,Jambi,3404,566040,41639,13.04,8.60
19,20,20,Kalimantan Tengah,3758,440722,28766,12.74,8.64
20,21,21,Sulawesi Tenggara,3442,505544,43080,13.68,9.13
21,22,22,Sulawesi Utara,3163,379732,25464,12.94,9.62
22,23,23,Papua,3669,686723,30857,11.11,6.76
23,24,24,Kalimantan Timur,1110,652093,39408,13.81,9.84
24,25,25,Bali,2987,664120,13687,13.40,9.06
25,26,26,Maluku,2788,366139,31633,13.97,10.03
26,27,27,Bengkulu,1998,332781,26198,13.67,8.87
27,28,28,Maluku Utara,2049,242158,19794,13.68,9.09
28,29,29,Sulawesi Barat,1797,226274,17587,12.86,7.96
29,30,30,Gorontalo,1338,182562,13395,13.11,7.90
30,31,31,Kepulauan Riau,1546,174723,22362,12.98,10.18
31,32,32,Papua Barat,1572,93026,15218,13.13,7.69
32,33,33,Kepulauan Bangka Belitung,1130,198806,14129,12.17,8.08
33,34,34,Kalimantan Utara,744,129727,9604,12.94,9.11

In [ ]:
iqscore199 = pd.read_csv("199countries_")