In [29]:
import pandas as pd
from urllib.request import Request, urlopen

## PISA Score IDN vs 79 Countries

In [55]:
pisa_score = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/79countries_rankedpisa.csv", sep=";")
pisa_score

,no,country_name,reading,math,science,rank_reading,rank_math,rank_science
0,1,Australia,503,491,503,16,29,15
1,2,Austria,484,499,490,28,22,27
2,3,Belgium,493,508,499,22,15,19
3,4,Canada,520,512,518,6,12,8
4,5,Chile,452,417,444,44,59,45
...,...,...,...,...,...,...,...,...
73,74,Chinese Taipei,503,531,516,17,5,10
74,75,Thailand,393,419,426,68,57,54
75,76,Ukraine,466,453,469,41,43,38
76,77,United Arab Emirates,432,435,434,47,50,49
77,78,Uruguay,427,418,426,49,58,55

## IQ Score IDN vs All 199 Countries

In [56]:
iq_score = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/199countries_iqscore.csv", sep=";")
iq_score

      no       country      iq  rank
0      1         Japan  106.48     1
1      2        Taiwan  106.47     2
2      3     Singapore  105.89     3
3      4     Hong Kong  105.37     4
4      5         China  104.10     5
..   ...           ...     ...   ...
194  195    Cape Verde   52.50   195
195  196     Guatemala   47.72   196
196  197  Sierra Leone   45.07   197
197  198       Liberia   45.07   198
198  199         Nepal   42.99   199

[199 rows x 4 columns]

## Government Spending on Education (192 Countries)

In [57]:
gov_spending192 = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/192countries_govexpend.csv", sep=";")
gov_spending192

      no country_id  country_name  latest_year  percent_total_expenditure
0      1        ABW         Aruba         2016                  21.366550
1      2        AFG   Afghanistan         2021                  10.880110
2      3        AGO        Angola         2021                   6.919610
3      4        ALB       Albania         2019                  13.435470
4      5        AND       Andorra         2021                  10.264740
..   ...        ...           ...          ...                        ...
187  188        WSM         Samoa         2020                  16.214991
188  189        YEM         Yemen         2008                  12.489240
189  190        ZAF  South Africa         2021                  18.417240
190  191        ZMB        Zambia         2021                  11.514140
191  192        ZWE      Zimbabwe         2018                  19.039841

[192 rows x 5 columns]

## Government Spending on Education (39 Countries Examined)

In [58]:
gov_spending39 = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/39countries_govspendonedu.csv", sep=";")
gov_spending39

    no country_id        country_name gov_expenditure
0    1        ARG           Argentina          12,523
1    2        AUS           Australia            12,6
2    3        AUT             Austria          10,262
3    4        BRA              Brazil          10,412
4    5        CAN              Canada           12,01
5    6        CHE         Switzerland          14,333
6    7        CHL               Chile          13,519
7    8        CHN               China          10,439
8    9        COL            Colombia          12,475
9   10        CRI          Costa Rica          16,744
10  11        CZE      Czech Republic          10,197
11  12        DEU             Germany          10,036
12  13        DNK             Denmark          10,601
13  14        EST             Estonia          11,991
14  15        FIN             Finland          10,906
15  16        FRA              France          10,007
16  17        GBR        England (UK)          10,216
17  18        GRC              Greece           6,204
18  19        HUN             Hungary          10,075
19  20        IDN           Indonesia          11,594
20  21        IRL             Ireland          10,408
21  22        ISL             Iceland          10,957
22  23        ISR              Israel          12,563
23  24        ITA               Italy           7,775
24  25        JPN               Japan          10,366
25  26        LTU           Lithuania          11,743
26  27        LUX          Luxembourg           8,474
27  28        LVA              Latvia          11,148
28  29        MEX              Mexico          12,155
29  30        NOR              Norway          13,185
30  31        NZL         New Zealand          10,138
31  32        POL              Poland          10,892
32  33        PRT            Portugal          10,124
33  34        RUS  Russian Federation          10,532
34  35        SAU        Saudi Arabia          12,296
35  36        SVK     Slovak Republic          10,049
36  37        SVN            Slovenia          10,079
37  38        SWE              Sweden           10,15
38  39        TUR             Türkiye          12,407

In [80]:
gov_spending39.loc[:,'gov_expenditure'] = pd.to_numeric(gov_spending39.loc[:,'gov_expenditure'])

ValueError: Unable to parse string "12,523" at position 0

## Teacher Salary and Expenditure Per Capita (39 Countries Examined)

In [59]:
salary = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/39countries_salary.csv", sep=";")
salary

,no,country_id,country_name,salary,expenditure_percapita
0,1,ARG,Argentina,9647,"7,612,858"
1,2,AUS,Australia,62300,"31,928,353"
2,3,AUT,Austria,"45807,35","22,390,217"
3,4,BRA,Brazil,"16748,51","5,431,875"
4,5,CAN,Canada,"19112,28","25,567,441"
5,6,CHE,Switzerland,99302,"43,729,155"
6,7,CHL,Chile,"18,194,714","9,657,872"
7,8,CHN,China,"25788,78","4,698,876"
8,9,COL,Colombia,9684,"4753,92"
9,10,CRI,Costa Rica,"4724,24","8141,64"
10,11,CZE,Czech Republic,12203,"9,255,229"
11,12,DEU,Germany,"590,493,016,631,247","21,587,115"
12,13,DNK,Denmark,55184,"27,471,908"
13,14,EST,Estonia,"19061,22","10,664,238"
14,15,FIN,Finland,"422,165,631,587,502","24,112,507"
15,16,FRA,France,"16748,51","20171,81"
16,17,GBR,England (UK),"382,800,442,739,586","29,361,085"
17,18,GRC,Greece,"229,173,262,527,084","13,133,812"
18,19,HUN,Hungary,15564,"7,930,688"
19,20,IDN,Indonesia,"4630,32","2,166,313"
20,21,IRL,Ireland,"432,206,588,480,204","20,585,451"
21,22,ISL,Iceland,"41989,44","30,042,675"
22,23,ISR,Israel,47568,"21,029,968"
23,24,ITA,Italy,"357,388,882,987,495","18485,92"
24,25,JPN,Japan,36384,"10,404,085"
25,26,LTU,Lithuania,"261,427,895,412,496","11,215,149"
26,27,LUX,Luxembourg,"60394,64","34,219,114"
27,28,LVA,Latvia,"11927,88","9,191,337"
28,29,MEX,Mexico,16044,"6,230,653"
29,30,NOR,Norway,44189,"32,329,209"
30,31,NZL,New Zealand,48949,"17,079,105"
31,32,POL,Poland,18068,"9,009,787"
32,33,PRT,Portugal,"15358,53","13,679,779"
33,34,RUS,Russian Federation,15192,"5463,75"
34,35,SAU,Saudi Arabia,40224,"8,547,939"
35,36,SVK,Slovak Republic,"163,994,360,735,417","10,185,247"
36,37,SVN,Slovenia,"355,042,531,468,748","13,319,562"
37,38,SWE,Sweden,"254,214,231,473,751","24,241,578"
38,39,TUR,Türkiye,"5871,78","3,062,756"

## All Data (For Regression Analysis)

In [60]:
all_data = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/39countries_alldata.csv", sep=";")
all_data

,no,country_id,country_name,salary,expenditure_percapita,gov_expenditure,net_user,expected_school,years_school,reading_mean,math_mean,science_mean,country_index
0,1,ARG,Argentina,9647,"7,612,858","12,523","85,5","17,9","11,1",402,379,404,"0,855"
1,2,AUS,Australia,62300,"31,928,353","12,6","89,6","21,1","12,7",503,491,503,"0,924"
2,3,AUT,Austria,"45807,35","22,390,217","10,262","87,529",16,"12,3",484,499,490,"0,865"
3,4,BRA,Brazil,"16748,51","5,431,875","10,412","81,343","15,6","8,1",413,384,404,"0,694"
4,5,CAN,Canada,"19112,28","25,567,441","12,01","96,97","16,4","13,8",520,512,518,"0,894"
5,6,CHE,Switzerland,99302,"43,729,155","14,333","94,2","16,5","13,9",484,515,495,"0,9"
6,7,CHL,Chile,"18,194,714","9,657,872","13,519","88,3","16,7","10,9",452,417,444,"0,81"
7,8,CHN,China,"25788,78","4,698,876","10,439","70,405","14,2","7,6",555,591,590,"0,66"
8,9,COL,Colombia,9684,"4753,92","12,475","69,79","14,4","8,9",412,391,413,"0,682"
9,10,CRI,Costa Rica,"4724,24","8141,64","16,744","80,53","16,5","8,8",426,402,416,"0,726"
10,11,CZE,Czech Republic,12203,"9,255,229","10,197","81,339","16,2","12,9",490,499,497,"0,89"
11,12,DEU,Germany,"590,493,016,631,247","21,587,115","10,036","89,813",17,"14,1",498,500,503,"0,943"
12,13,DNK,Denmark,55184,"27,471,908","10,601","96,549","18,7",13,501,509,493,"0,92"
13,14,EST,Estonia,"19061,22","10,664,238","11,991","89,058","15,9","13,5",523,523,530,"0,882"
14,15,FIN,Finland,"422,165,631,587,502","24,112,507","10,906","92,17","19,1","12,9",520,507,522,"0,927"
15,16,FRA,France,"16748,51","20171,81","10,007","84,8","15,8","11,6",493,495,493,"0,817"
16,17,GBR,England (UK),"382,800,442,739,586","29,361,085","10,216","94,818","17,3","13,4",504,502,505,"0,928"
17,18,GRC,Greece,"229,173,262,527,084","13,133,812","6,204","78,116",20,"11,4",457,451,452,"0,849"
18,19,HUN,Hungary,15564,"7,930,688","10,075","84,771",15,"12,2",476,481,481,"0,821"
19,20,IDN,Indonesia,"4630,32","2,166,313","11,594","53,726","13,7","8,6",371,379,396,"0,65"
20,21,IRL,Ireland,"432,206,588,480,204","20,585,451","10,408",92,"18,9","11,6",518,500,496,"0,922"
21,22,ISL,Iceland,"41989,44","30,042,675","10,957",99,"19,2","13,8",474,495,475,"0,926"
22,23,ISR,Israel,47568,"21,029,968","12,563","90,127","16,1","13,3",470,463,462,"0,883"
23,24,ITA,Italy,"357,388,882,987,495","18485,92","7,775","70,483","16,2","10,7",476,487,468,"0,793"
24,25,JPN,Japan,36384,"10,404,085","10,366","90,219","15,2","13,4",504,527,529,"0,851"
25,26,LTU,Lithuania,"261,427,895,412,496","11,215,149","11,743","83,056","16,3","13,5",476,481,482,"0,898"
26,27,LUX,Luxembourg,"60394,64","34,219,114","8,474","98,822","14,4",13,470,483,477,"0,806"
27,28,LVA,Latvia,"11927,88","9,191,337","11,148","88,9","16,2","13,3",479,496,487,"0,883"
28,29,MEX,Mexico,16044,"6,230,653","12,155","71,968","14,9","9,2",420,409,419,"0,703"
29,30,NOR,Norway,44189,"32,329,209","13,185",97,"18,2",13,499,501,490,"0,93"
30,31,NZL,New Zealand,48949,"17,079,105","10,138","91,5","20,3","12,9",506,494,508,"0,926"
31,32,POL,Poland,18068,"9,009,787","10,892","83,185",16,"13,2",512,516,511,"0,869"
32,33,PRT,Portugal,"15358,53","13,679,779","10,124","78,262","16,9","9,6",492,492,492,"0,768"
33,34,RUS,Russian Federation,15192,"5463,75","10,532","84,995","15,8","12,8",479,488,478,"0,823"
34,35,SAU,Saudi Arabia,40224,"8,547,939","12,296","97,86","16,1","11,3",399,373,386,"0,789"
35,36,SVK,Slovak Republic,"163,994,360,735,417","10,185,247","10,049","89,921","14,5","12,9",458,486,464,"0,826"
36,37,SVN,Slovenia,"355,042,531,468,748","13,319,562","10,079","86,601","17,7","12,8",495,509,507,"0,91"
37,38,SWE,Sweden,"254,214,231,473,751","24,241,578","10,15","94,539","19,4","12,6",506,502,499,"0,918"
38,39,TUR,Türkiye,"5871,78","3,062,756","12,407","77,67","18,3","8,6",466,454,468,"0,731"