In [2]:
import pandas as pd
from urllib.request import Request, urlopen

## PISA Score IDN vs 79 Countries

In [3]:
pisa_score = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/79countries_rankedpisa.csv", sep=",")
pisa_score

,Unnamed: 0,country_name,reading,math,science,rank_reading,rank_math,rank_science
0,1,Australia,503,491,503,16,29,15
1,2,Austria,484,499,490,28,22,27
2,3,Belgium,493,508,499,22,15,19
3,4,Canada,520,512,518,6,12,8
4,5,Chile,452,417,444,44,59,45
...,...,...,...,...,...,...,...,...
73,74,Chinese Taipei,503,531,516,17,5,10
74,75,Thailand,393,419,426,68,57,54
75,76,Ukraine,466,453,469,41,43,38
76,77,United Arab Emirates,432,435,434,47,50,49
77,78,Uruguay,427,418,426,49,58,55

## IQ Score IDN vs All 199 Countries

In [4]:
iq_score = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/199countries_iqscore.csv", sep=",")
iq_score

     Unnamed: 0       country      iq
0             1         Japan  106.48
1             2        Taiwan  106.47
2             3     Singapore  105.89
3             4     Hong Kong  105.37
4             5         China  104.10
..          ...           ...     ...
194         195    Cape Verde   52.50
195         196     Guatemala   47.72
196         197  Sierra Leone   45.07
197         198       Liberia   45.07
198         199         Nepal   42.99

[199 rows x 3 columns]

## Government Spending on Education (192 Countries)

In [5]:
gov_spending192 = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/192countries_govexpend.csv", sep=",")
gov_spending192

,Unnamed: 0,country_id,country_name,latest_year,percent_total_expenditure
0,1,ABW,Aruba,2016,21.367
1,2,AFG,Afghanistan,2021,10.880
2,3,AGO,Angola,2021,6.920
3,4,ALB,Albania,2019,13.435
4,5,AND,Andorra,2021,10.265
...,...,...,...,...,...
187,188,WSM,Samoa,2020,16.215
188,189,YEM,Yemen,2008,12.489
189,190,ZAF,South Africa,2021,18.417
190,191,ZMB,Zambia,2021,11.514
191,192,ZWE,Zimbabwe,2018,19.040

## Government Spending on Education (39 Countries Examined)

In [6]:
gov_spending39 = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/39countries_govspendonedu.csv", sep=",")
gov_spending39

    Unnamed: 0 country_id        country_name  gov_expenditure
0            1        ARG           Argentina           12.523
1            2        AUS           Australia           12.600
2            3        AUT             Austria           10.262
3            4        BRA              Brazil           10.412
4            5        CAN              Canada           12.010
5            6        CHE         Switzerland           14.333
6            7        CHL               Chile           13.519
7            8        CHN               China           10.439
8            9        COL            Colombia           12.475
9           10        CRI          Costa Rica           16.744
10          11        CZE      Czech Republic           10.197
11          12        DEU             Germany           10.036
12          13        DNK             Denmark           10.601
13          14        EST             Estonia           11.991
14          15        FIN             Finland           10.906
15          16        FRA              France           10.007
16          17        GBR        England (UK)           10.216
17          18        GRC              Greece            6.204
18          19        HUN             Hungary           10.075
19          20        IDN           Indonesia           11.594
20          21        IRL             Ireland           10.408
21          22        ISL             Iceland           10.957
22          23        ISR              Israel           12.563
23          24        ITA               Italy            7.775
24          25        JPN               Japan           10.366
25          26        LTU           Lithuania           11.743
26          27        LUX          Luxembourg            8.474
27          28        LVA              Latvia           11.148
28          29        MEX              Mexico           12.155
29          30        NOR              Norway           13.185
30          31        NZL         New Zealand           10.138
31          32        POL              Poland           10.892
32          33        PRT            Portugal           10.124
33          34        RUS  Russian Federation           10.532
34          35        SAU        Saudi Arabia           12.296
35          36        SVK     Slovak Republic           10.049
36          37        SVN            Slovenia           10.079
37          38        SWE              Sweden           10.150
38          39        TUR             Türkiye           12.407

## Teacher Salary and Expenditure Per Capita (39 Countries Examined)

In [7]:
salary = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/39countries_salary.csv", sep=",")
salary

,Unnamed: 0,country_id,country_name,salary,expenditure_percapita
0,1,ARG,Argentina,9647.000000,7612.858
1,2,AUS,Australia,62300.000000,31928.353
2,3,AUT,Austria,45807.350000,22390.217
3,4,BRA,Brazil,16748.510000,5431.875
4,5,CAN,Canada,19112.280000,25567.441
5,6,CHE,Switzerland,99302.000000,43729.155
6,7,CHL,Chile,18194.714000,9657.872
7,8,CHN,China,25788.780000,4698.876
8,9,COL,Colombia,9684.000000,4753.920
9,10,CRI,Costa Rica,4724.240000,8141.640
10,11,CZE,Czech Republic,12203.000000,9255.229
11,12,DEU,Germany,59049.301663,21587.115
12,13,DNK,Denmark,55184.000000,27471.908
13,14,EST,Estonia,19061.220000,10664.238
14,15,FIN,Finland,42216.563159,24112.507
15,16,FRA,France,16748.510000,20171.810
16,17,GBR,England (UK),38280.044274,29361.085
17,18,GRC,Greece,22917.326253,13133.812
18,19,HUN,Hungary,15564.000000,7930.688
19,20,IDN,Indonesia,4630.320000,2166.313
20,21,IRL,Ireland,43220.658848,20585.451
21,22,ISL,Iceland,41989.440000,30042.675
22,23,ISR,Israel,47568.000000,21029.968
23,24,ITA,Italy,35738.888299,18485.920
24,25,JPN,Japan,36384.000000,10404.085
25,26,LTU,Lithuania,26142.789541,11215.149
26,27,LUX,Luxembourg,60394.640000,34219.114
27,28,LVA,Latvia,11927.880000,9191.337
28,29,MEX,Mexico,16044.000000,6230.653
29,30,NOR,Norway,44189.000000,32329.209
30,31,NZL,New Zealand,48949.000000,17079.105
31,32,POL,Poland,18068.000000,9009.787
32,33,PRT,Portugal,15358.530000,13679.779
33,34,RUS,Russian Federation,15192.000000,5463.750
34,35,SAU,Saudi Arabia,40224.000000,8547.939
35,36,SVK,Slovak Republic,16399.436074,10185.247
36,37,SVN,Slovenia,35504.253147,13319.562
37,38,SWE,Sweden,254214.231474,24241.578
38,39,TUR,Türkiye,5871.780000,3062.756

## All Data (For Regression Analysis)

In [8]:
all_data = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/39countries_alldata.csv", sep=",")
all_data

,Unnamed: 0,country_id,country_name,salary,expenditure_percapita,gov_expenditure,net_user,expected_school,years_school,reading_mean,math_mean,science_mean,country_index
0,1,ARG,Argentina,9647.000000,7612.858,12.523,85.500,17.9,11.1,402,379,404,0.855
1,2,AUS,Australia,62300.000000,31928.353,12.600,89.600,21.1,12.7,503,491,503,0.924
2,3,AUT,Austria,45807.350000,22390.217,10.262,87.529,16.0,12.3,484,499,490,0.865
3,4,BRA,Brazil,16748.510000,5431.875,10.412,81.343,15.6,8.1,413,384,404,0.694
4,5,CAN,Canada,19112.280000,25567.441,12.010,96.970,16.4,13.8,520,512,518,0.894
5,6,CHE,Switzerland,99302.000000,43729.155,14.333,94.200,16.5,13.9,484,515,495,0.900
6,7,CHL,Chile,18194.714000,9657.872,13.519,88.300,16.7,10.9,452,417,444,0.810
7,8,CHN,China,25788.780000,4698.876,10.439,70.405,14.2,7.6,555,591,590,0.660
8,9,COL,Colombia,9684.000000,4753.920,12.475,69.790,14.4,8.9,412,391,413,0.682
9,10,CRI,Costa Rica,4724.240000,8141.640,16.744,80.530,16.5,8.8,426,402,416,0.726
10,11,CZE,Czech Republic,12203.000000,9255.229,10.197,81.339,16.2,12.9,490,499,497,0.890
11,12,DEU,Germany,59049.301663,21587.115,10.036,89.813,17.0,14.1,498,500,503,0.943
12,13,DNK,Denmark,55184.000000,27471.908,10.601,96.549,18.7,13.0,501,509,493,0.920
13,14,EST,Estonia,19061.220000,10664.238,11.991,89.058,15.9,13.5,523,523,530,0.882
14,15,FIN,Finland,42216.563159,24112.507,10.906,92.170,19.1,12.9,520,507,522,0.927
15,16,FRA,France,16748.510000,20171.810,10.007,84.800,15.8,11.6,493,495,493,0.817
16,17,GBR,England (UK),38280.044274,29361.085,10.216,94.818,17.3,13.4,504,502,505,0.928
17,18,GRC,Greece,22917.326253,13133.812,6.204,78.116,20.0,11.4,457,451,452,0.849
18,19,HUN,Hungary,15564.000000,7930.688,10.075,84.771,15.0,12.2,476,481,481,0.821
19,20,IDN,Indonesia,4630.320000,2166.313,11.594,53.726,13.7,8.6,371,379,396,0.650
20,21,IRL,Ireland,43220.658848,20585.451,10.408,92.000,18.9,11.6,518,500,496,0.922
21,22,ISL,Iceland,41989.440000,30042.675,10.957,99.000,19.2,13.8,474,495,475,0.926
22,23,ISR,Israel,47568.000000,21029.968,12.563,90.127,16.1,13.3,470,463,462,0.883
23,24,ITA,Italy,35738.888299,18485.920,7.775,70.483,16.2,10.7,476,487,468,0.793
24,25,JPN,Japan,36384.000000,10404.085,10.366,90.219,15.2,13.4,504,527,529,0.851
25,26,LTU,Lithuania,26142.789541,11215.149,11.743,83.056,16.3,13.5,476,481,482,0.898
26,27,LUX,Luxembourg,60394.640000,34219.114,8.474,98.822,14.4,13.0,470,483,477,0.806
27,28,LVA,Latvia,11927.880000,9191.337,11.148,88.900,16.2,13.3,479,496,487,0.883
28,29,MEX,Mexico,16044.000000,6230.653,12.155,71.968,14.9,9.2,420,409,419,0.703
29,30,NOR,Norway,44189.000000,32329.209,13.185,97.000,18.2,13.0,499,501,490,0.930
30,31,NZL,New Zealand,48949.000000,17079.105,10.138,91.500,20.3,12.9,506,494,508,0.926
31,32,POL,Poland,18068.000000,9009.787,10.892,83.185,16.0,13.2,512,516,511,0.869
32,33,PRT,Portugal,15358.530000,13679.779,10.124,78.262,16.9,9.6,492,492,492,0.768
33,34,RUS,Russian Federation,15192.000000,5463.750,10.532,84.995,15.8,12.8,479,488,478,0.823
34,35,SAU,Saudi Arabia,40224.000000,8547.939,12.296,97.860,16.1,11.3,399,373,386,0.789
35,36,SVK,Slovak Republic,16399.436074,10185.247,10.049,89.921,14.5,12.9,458,486,464,0.826
36,37,SVN,Slovenia,35504.253147,13319.562,10.079,86.601,17.7,12.8,495,509,507,0.910
37,38,SWE,Sweden,254214.231474,24241.578,10.150,94.539,19.4,12.6,506,502,499,0.918
38,39,TUR,Türkiye,5871.780000,3062.756,12.407,77.670,18.3,8.6,466,454,468,0.731

## Education Gap in Indonesia (by Province)

In [11]:
edu_gap = pd.read_csv("https://raw.githubusercontent.com/nurkhamidah/Education_Dashboard/master/34provinces_edugap.csv", sep=",")
edu_gap

,Unnamed: 0,no,prov_name,school,student,teacher,angka_hls,rata_lama_sekolah
0,1,1,Jawa Timur,25533,4344401,125594,13.36,7.88
1,2,2,Jawa Barat,27244,7035609,149430,12.61,8.61
2,3,3,Jawa Tengah,23034,4266632,225544,12.77,7.75
3,4,4,Sumatera Utara,13554,2561347,165446,13.27,9.58
4,5,5,Sulawesi Selatan,8746,1443681,108021,13.52,8.46
5,6,6,Banten,6837,1838197,65988,13.02,8.93
6,7,7,Nusa Tenggara Timur,7617,1200640,93163,13.20,7.69
7,8,8,Lampung,6687,1296465,86460,12.73,8.08
8,9,9,Sumatera Selatan,5460,656273,40365,12.54,8.30
9,10,10,Aceh,2160,818876,80679,14.36,9.37
10,11,11,Sumatera Barat,5462,950986,70745,14.09,9.07
11,12,12,Riau,2114,1197902,60975,13.28,9.19
12,13,13,Nusa Tenggara Barat,4686,331896,49399,13.90,7.38
13,14,14,Kalimantan Barat,6265,923832,50945,12.65,7.45
14,15,15,D.K.I. Jakarta,3809,1302860,67415,13.07,11.17
15,16,16,Kalimantan Selatan,3745,535056,41055,12.81,8.34
16,17,17,Sulawesi Tengah,4031,94262,40273,13.23,8.89
17,18,18,D.I. Yogyakarta,2470,468054,31455,15.64,9.64
18,19,19,Jambi,3404,566040,41639,13.04,8.60
19,20,20,Kalimantan Tengah,3758,440722,28766,12.74,8.64
20,21,21,Sulawesi Tenggara,3442,505544,43080,13.68,9.13
21,22,22,Sulawesi Utara,3163,379732,25464,12.94,9.62
22,23,23,Papua,3669,686723,30857,11.11,6.76
23,24,24,Kalimantan Timur,1110,652093,39408,13.81,9.84
24,25,25,Bali,2987,664120,13687,13.40,9.06
25,26,26,Maluku,2788,366139,31633,13.97,10.03
26,27,27,Bengkulu,1998,332781,26198,13.67,8.87
27,28,28,Maluku Utara,2049,242158,19794,13.68,9.09
28,29,29,Sulawesi Barat,1797,226274,17587,12.86,7.96
29,30,30,Gorontalo,1338,182562,13395,13.11,7.90
30,31,31,Kepulauan Riau,1546,174723,22362,12.98,10.18
31,32,32,Papua Barat,1572,93026,15218,13.13,7.69
32,33,33,Kepulauan Bangka Belitung,1130,198806,14129,12.17,8.08
33,34,34,Kalimantan Utara,744,129727,9604,12.94,9.11